{% extends 'index.html' %}

{% block nosaukums %}
Teksts
{% endblock %}

{% block saturs %}
<p> Viens paragrāfs ar tekstu</p>
<ul>
    <li>Elements</li>
    <li>Elements</li>
    <li>Elements</li>
</ul>
{% endblock %}

{% block bilde %}
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.theonion.com%2Fhome-depot-releases-new-bluetooth-cordless-hose-1819592894&psig=AOvVaw0bElxWqlw8HKYt3inLhcMK&ust=1711023354818000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIi2rO3ogoUDFQAAAAAdAAAAABAD">
{% endblock %}
