{% extends 'index.html' %}

{% block nosaukums %}
Teksts
{% endblock %}

{% block saturs %}
<p> Viens paragrāfs ar tekstu</p>
<ul>
    <li>Elements</li>
    <li>Elements</li>
    <li>Elements</li>
</ul>
{% endblock %}

{% block bilde %}
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Feventsmauritius.travel%2F%3Fo%3Da-fat-stack-of-cool-cats-memes-and-images-qq-Gampwxtz&psig=AOvVaw3tSbfynckawXuLCxLA8LhT&ust=1711536219725000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNjxpbbfkYUDFQAAAAAdAAAAABAJ">
{% endblock %}
